* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .navbar {
    background: linear-gradient(45deg, #6a11cb, #1c5004, #6a11cb); /* New vibrant gradient */
    background-size: 200% 200%; /* Larger for smooth animation */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    animation: gradientShift 5s ease infinite; /* Add animation */
    transition: box-shadow 0.3s ease; /* Smooth hover effect */
}

/* Gradient Animation */
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Hover Effect for Navbar */
.navbar:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Add subtle shadow */
}

/* Navbar Container */
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

  #navbar__logo {
  
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      width: 100px; /* Adjust as needed */
      height: auto;
      /* Maintain aspect ratio */
  }
  
  #navbar__logo img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      
      z-index: 1; /* Ensure the image is above the gradient */
  }
  
  #navbar__logo::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 2; 
      /* Adjust opacity as needed */

  
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(90deg, #6a11cb, #2575fc, #6a11cb); /* New Gradient */
    background-size: 200% 200%; /* Larger background for animation */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: gradientShift 3s ease infinite; /* Add animation */
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Hover Effect */
.button:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

  
  .navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #41403f;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .navbar {
    background: linear-gradient(45deg, #000000, #075517, #779564); /* New vibrant gradient */
    background-size: 200% 200%; /* Larger for smooth animation */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    animation: gradientShift 5s ease infinite; /* Add animation */
    transition: box-shadow 0.3s ease; /* Smooth hover effect */
}

/* Gradient Animation */
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Hover Effect for Navbar */
.navbar:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Add subtle shadow */
}

/* Navbar Container */
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

  #navbar__logo {
  
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      width: 100px; /* Adjust as needed */
      height: auto;
      /* Maintain aspect ratio */
  }
  
  #navbar__logo img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      
      z-index: 1; /* Ensure the image is above the gradient */
  }
  
  #navbar__logo::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 2; 
      /* Adjust opacity as needed */

  
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(90deg, #000000, #075517, #52c108); /* New Gradient */
    background-size: 200% 200%; /* Larger background for animation */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: gradientShift 3s ease infinite; /* Add animation */
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Hover Effect */
.button:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

  
  .navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #41403f;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  /* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content doesn't overflow */
}

/* Background Video */
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container */
  z-index: 0; /* Places video behind the content */
  filter: brightness(50%); /* Dim the video to ensure text is readable */
}

/* Hero Content */
.hero__container {
  position: relative;
  z-index: 1; /* Ensures text appears above the video */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero__heading {
  font-size: 3rem;
  z-index: 2;
}

/*word animation*/
.word-fade-in {
  display: inline-flex;
  gap: 0.7rem; /* Small gap between words */
  font-size: 3rem; /* Adjust font size */
  color: #fbfbfb; /* Text color */
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent overflow during animation */
  white-space: nowrap;
}

.word-fade-in span {
  opacity: 0; /* Start transparent */
  animation: fadeInSequence 6s linear infinite; /* Animation will repeat infinitely */
  animation-fill-mode: forwards; /* Keep state after animation ends */
}

/* Assign delay for each word */
.word-fade-in span:nth-child(1) { animation-delay: 0s; }
.word-fade-in span:nth-child(2) { animation-delay: 0.5s; }
.word-fade-in span:nth-child(3) { animation-delay: 1s; }
.word-fade-in span:nth-child(4) { animation-delay: 1.5s; }
.word-fade-in span:nth-child(5) { animation-delay: 2s; }
.word-fade-in span:nth-child(6) { animation-delay: 2.5s; }

/* Keyframes for animation */
@keyframes fadeInSequence {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Slight upward motion */
  }
  50% {
    opacity: 1;
    transform: translateY(0); /* Return to position */
  }
  100% {
    opacity: 1;
  }
}







/* Highlight for Hero Content */
.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

/* Button */
.main__btn {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  border-radius: 4px;
  border: none; /* Remove default button border */
  transition: 0.3s ease;
  cursor: pointer; /* Add pointer cursor for hover effect */
}

.main__btn:hover {
  background: linear-gradient(to right, #2575fc, #6a11cb);
}


/* Responsive Design for Hero Section */
@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 1.5rem;
  }
}


  
  /* About Section */
  .main {
    background-color: #131313;
    padding: 10rem 0;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .main__content {
    color: #fff;
    width: 100%;
  }
  
  .main__content h1 {
    font-size: 2rem;
    background-color: #0e010583;
    background-image: linear-gradient(to top, #ff087b00 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .main__content h2 {
    font-size: 4rem;
    background: #ff8177; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #9114ff00,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8f0eff,
      #da22ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b81eff;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .main__btn:hover {
    color: #fff;
  }
  
  .main__btn:hover:after {
    width: 100%;
  }
  
  .main__img--container {
    text-align: center;
  }
  
  .main__img--card {
    margin: 10px;
    height: 300px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e20b0b;
    background-image: none;
  }
  
  .fa-layer-group,
  .fa-users {
    font-size: 14rem;
  }
  
  #card-2 {
    background: none;
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background:none;
  }
  
  /* Mobile Responsive */
  @media screen and (max-width: 1100px) {
    .main__container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      height: 90%;
    }
  
    .main__img--container {
      display: flex;
      justify-content: center;
    }
  
    .main__img--card {
      height: 425px;
      width: 425px;
    }
  
    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main__content h2 {
      font-size: 3rem;
    }
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main__img--card {
      width: 250px;
      height: 250px;
    }
  
    .fa-users,
    .fa-layer-group {
      font-size: 4rem;
    }
  
    .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
    .main__content h2 {
      font-size: 2rem;
    }
  
    .main__content p {
      margin-top: 2rem;
    }
  
    .main__btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  }
  
  /* Services Section */
  


  /* Footer CSS */
  .footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3 ease-out;
  }
  
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }
  
  .hero__description {
    font-size: 60px;
    background: #da22ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #9114ff,
      #da22ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8f0eff,
      #da22ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
  }
  
  @media screen and (max-width: 768px) {
    .hero__heading {
      font-size: 60px;
    }
  
    .hero__description {
      font-size: 40px;
    }
  }
  
  /* About Section */
  .main {
    background-color: #131313;
    padding: 10rem 0;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .main__content {
    color: #fff;
    width: 100%;
  }
  
  .main__content h1 {
    font-size: 2rem;
    background-color: #0e010583;
    background-image: linear-gradient(to top, #ff087b00 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .main__content h2 {
    font-size: 4rem;
    background: #ff8177; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #9114ff00,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #8f0eff,
      #da22ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b81eff;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .main__btn:hover {
    color: #fff;
  }
  
  .main__btn:hover:after {
    width: 100%;
  }
  
  .main__img--container {
    text-align: center;
  }
  
  .main__img--card {
    margin: 10px;
    height: 300px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: none;
  }
  
  .fa-layer-group,
  .fa-users {
    font-size: 14rem;
  }
  
  #card-2 {
    background: none;
    background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
    background:none;
  }
  
  /* Mobile Responsive Styles */

/* General Responsive Styles for Devices with Max Width of 1100px */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    width: 425px;
    height: 425px;
    object-fit: cover; /* Ensures image scales well */
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    line-height: 1.2; /* Improves readability */
  }

  .main__content h2 {
    font-size: 3rem;
    line-height: 1.1;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.5; /* Enhances readability for longer paragraphs */
  }
}

/* Specific Responsive Styles for Devices with Max Width of 480px */
@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Keeps image aspect ratio intact */
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
    line-height: 1.3;
  }

  .main__content h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.25rem; /* Slightly smaller font size for smaller screens */
    line-height: 1.6;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
    font-size: 1rem; /* Ensure button text is legible on smaller screens */
  }
}

  /* Services Section */

  body .services {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  body .services .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #000;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  }
  body .services .card .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .services .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
  }
  body .services .card .face.face1 h2 {
    margin: 0;
    padding: 0;
  }
  body .services .card .face.face1 .java {
    background-color: #fffc00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body .services .card .face.face1 .python {
    background-color: #00fffc;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body .services .card .face.face1 .cSharp {
    background-color: #fc00ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body .services .card .face.face2 {
    transition: 0.5s;
  }
  body .services .card .face.face2 h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  body .services .card:hover .face.face2 {
    height: 60px;
  }
  body .services .card:hover .face.face2 h2 {
    font-size: 2em;
  }
  body .services .card:nth-child(1) .face.face2 {
    background-image: linear-gradient(40deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);
    border-radius: 15px;
  }
  body .services .card:nth-child(2) .face.face2 {
    background-image: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #fffc00 100%);
    border-radius: 15px;
  }
  body .services .card:nth-child(3) .face.face2 {
    background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);
    border-radius: 15px;
  }
  




  
  
  /* Responsive Design */
  @media screen and (max-width: 1300px) {
    .services__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
    .services__wrapper {
      grid-template-columns: 1fr;
    }
  }
  
  /* Footer CSS */
  .footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3 ease-out;
  }
  
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }